<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Add Medical Record</title>
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/styles.css' %}">
</head>
<body>
    <header>
        <div>
            <div class="logo">
                <img src="{% static "core/images/image.png" %}" alt="Hospital Logo">
                <h1 class="company-name">
                    Hospital 
                    <span class="M">Management</span> System
                </h1>
            </div>
        </div>
    </header>
    <div class="container">
        <h2>Add Medical Record</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Medical Record</button>
        </form>
        <a href="{% url 'list_medical_records' %}">Back to Medical Records List</a>
    </div>
    <footer>
        <div class="container">
            <div class="footer-content">
                <p>Contact us: H_M_S@gmail.com || Phone: +0000000000</p>
                <p>&copy; 2024 Hospital Management System</p>
            </div>
        </div> 
    </footer>
</body>
</html>
